#container{
    width: 650px;
    height: 700px;
    margin: 25px 0px 15px;
    border: 1px solid black;
    margin: auto;
    flex-flow: row wrap;
    
}
#header{
    border-bottom: solid 1px black;
    height: 100px;
}
#searchFormContainer{
    padding: 50px 20px 10px;
}
#inputQuery{
    padding: 3px;
}
#total{
    padding: 5px 0 15px 10px;
    display: inline-flex;
}
#paginationWrapper{
    display: inline-flex;
    padding: 10px;
    float: right;
}